<div>
    <h2>Enter Username and Password to Login</h2>
    <form>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" />
            <div id="password-help" class="form-text">Password must be at least 4 digits log.</div>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>

        <div>
            <a href="/signup">Don't have an account? Singup here!</a>
        </div>

        <button type="button" id="btn-login">Login</button>

    </form>
</div>
<script src="../public/js/login.js"></script>
